<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">VentasElPillo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/empleado']">Empleado<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item,9">
        <a class="nav-link" [routerLink]="['/cliente']">Cliente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/proveedor']">Proveedor</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Artículos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/articulo/catalogo']">Catálogo Artículos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/articulo/familia']">Familia Artículos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Procesos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/proc/ventas']">Venta</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/proc/compras']">Compra</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuario
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/login']">{{estadoLog}}</a>
          <a class="dropdown-item" [routerLink]="['/cambiopassw']">Cambio Contraseña</a>
          <a class="dropdown-item" [routerLink]="['/resetpassw']">Reseteo Contraseña</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/usuario']">Catálgo Usuarios</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
