<div class="container">
  <table class="table">
    <thead>
      <tr [ngClass]="{'dropup':orden.modo===1}">
        <th>Id Venta</th>
        <th>Id Cliente</th>
        <th>Id Empleado</th>
        <th>Id Producto</th>
        <th>Cantidad</th>
        <th>Fecha</th>
        <th>IV</th>
        <th (click)="obtenerVentas('Descuento')">Descuento<i [ngClass]="{'dropdown-toggle':orden.campo==='Descuento'}"></i></th>
        <th>Tipo Pago</th>
        <th>AprobaTarj</th>
        <th colspan="2" class="text-center">
          <button class="btn btn-outline btn-success" (click)="nuevoVenta()"><i class="fa fa-plus"></i></button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ventas">
        <td>{{item.idVenta}}</td>
        <td>{{item.idCliente}}</td>
        <td>{{item.idEmpleado}}</td>
        <td>{{item.codigo}}</td>
        <td>{{item.cant}}</td>
        <td>{{item.fecha}}</td>
        <td>{{item.IV}}</td>
        <td>{{item.descuento}}</td>
        <td>{{item.tipoPago}}</td>
        <td>{{item.aprobaTarj}}</td>
        <td class="text-center">
          <button class="btn btn-outline btn-warning" (click)="editarVenta(item._id)"><i class="fa fa-pencil-alt"></i></button>
        </td>
        <td class="text-center">
          <button class="btn btn-outline btn-danger" (click)="confirmarEliminarVenta(item)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="cambiarPagina(-1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" [ngClass]="{'active':opc===pagina}" *ngFor="let opc of pags">
        <a class="page-link" (click)="cambiarPagina(opc)" #color>{{opc}}</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="cambiarPagina(0)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<!-- 
//---------------------------------------------------------------------------------
-->

<div class="modal backdrop" tabindex="-1" role="dialog" name="ventanaVenta" #ventanaVenta>
  <div class="modal-dialog animated fadeInDown" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{tituloForm}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarVentana(1)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="frmVenta" name="frmVenta" id="frmVenta" (ngSubmit)="guardarVenta()">
          <div class="row">
            <div class="from-group col-4">
              <label for="">Id Venta</label>
              <input type="text" formControlName="idVenta" name="idVenta" class="form-control" placeholder="Id Venta">
            </div>
            <div class="from-group col-4">
                <label for="">Id Cliente</label>
                <input type="text" formControlName="idCliente" name="idCliente" class="form-control" placeholder="Id Cliente">
            </div>

            <div class="from-group col-4">
              <label for="">Id Empleado</label>
              <input type="text" formControlName="idEmpleado" name="idEmpleado" class="form-control" placeholder="Id Empleado">
            </div>
          </div>

          <div class="alert alert-danger" *ngIf="errorDup">{{errorDup}}</div>

          <label for="">Producto</label>

          <div class="row">
            <div class="form-group col-6">
              <input type="text" formControlName="codigo" name="codigo" class="form-control" placeholder="Id Producto">
            </div>

            <div class="form-group col-6">
              <input type="text" formControlName="cant" name="cant" class="form-control" placeholder="Cantidad">
            </div>
          </div>

         


          <label for="">Fecha -- Desc</label>

          <div class="row">
            <div class="form-group col-6">
              <input type="text" formControlName="fecha" name="fecha" class="form-control" placeholder="Fecha">
            </div>

            <div class="form-group col-6">
              <input type="text" formControlName="descuento" name="descuento" class="form-control" placeholder="Descuento">
            </div>
          </div>


          <label for="">Detalle</label>

          <div class="row">
            <div class="form-group col-4">
              <input type="text" formControlName="IV" name="IV" class="form-control" placeholder="IV">
            </div>

            <div class="form-group col-4">
              <input type="text" formControlName="tipoPago" name="tipoPago" class="form-control" placeholder="Tipo Pago">
            </div>

            <div class="form-group col-4">
              <input type="text" formControlName="aprobaTarj" name="aprobaTarj" class="form-control" placeholder="AprobaTarj">
            </div>
          </div>          

          <input type="hidden" formControlName="funcion" name="funcion">
          <input type="hidden" formControlName="_id" name="_id">
        </form>
      </div>
      <div class="modal-footer">
        <!-- el atributo form es poeque el button no está dentro del formulario-->
        <button type="submit" form="frmVenta" class="btn btn-primary" [disabled]="!frmVenta.valid">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarVentana(1)">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- VENTANA de confirmacion-->
<div class="modal" tabindex="-1" role="dialog" name="ventanaConfirmar" #ventanaConfirmar>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarVentana(2)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Eliminar Venta.</p>
          <p>{{venta.idVenta}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarVentana(2)">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="eliminarVenta()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>